body{
	font-family: sans-serif;
	background: #212121;

	.content{
		text-align: center;
		padding: 30vh 0 0;
		width: 100%;

		.image{
			img{
				width: 100px;
			}
		}

		.title{
			box-sizing: border-box;
			padding: 12px 32px 0 0;
			font-weight: bold;
			font-size: 42px;
			color: #d2a84c;

			.and{
				font-size: 36px;
				color: #fff;
			}
		}

		.copyright{
			color: rgba(255, 255, 255, 0.25);
			padding: 12px 0 0;
			font-weight: 100;
			font-size: 13px;
		}
	}
}

/*MOBILE*/
@media (max-width: 420px){
	.title{
		padding: 12px 36px !important;
	}
}